---
---
{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.me-img {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 25em) {

  .me-img {
    max-width: 50%;
  }

}
