:root {
  --color-primary-blue: #52C4DB;
  --color-secondary-light-blue: #8CD5E4;
  --color-primary-purple: #552984;
  --color-secondary-light-purple: #2C2A6C;

  --font-primary: pt-serif, serif;
  --font-cursive: adorn-smooth-pomander, sans-serif;
  --font-tertiary: objektiv-mk1, sans-serif;

  --border-radius: 8px;
}

html {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
}

.page-width {
  padding-left: 2em;
  padding-right: 2em;
}

.blue {
  color: var(--color-primary-blue);
}

/* @utility Apply the primary type face */

.font-prime {
  font-family: var(--font-primary);
}

/* @utility Apply the secondary type face */

.font-cursive {
  font-family: var(--font-cursive);
}

/* @utility Apply the tertiary type face */

.font-tertiary {
  font-family: var(--font-tertiary);
}

.carl {
  width: 250px;
  margin-left: 80px;
}

/*-- heading formaat */

h1 {
  font-family: var(--font-secondary);
  color: var(--color-primary-purple);
  font-weight: 400;
  font-style: normal;
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-tertiary);
  color: var(--color-primary-purple);
  font-weight: 500;
  font-style: normal;
}

/* list fomratting */

ul {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: normal;
}

ol {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: normal;
}

dl {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: normal;
}

dt {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
  font-weight: bold;
  font-style: normal;
}

dd {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: normal;
}

/* link formatting */

a {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
  font-weight: bold;
  font-style: normal;
}

/* blockquote formatting */

blockquote {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: normal;
}

cite {
  font-family: var(--font-primary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: italic;
  align-content: right;
}

q {
  font-family: var(--font-prime);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: italic;
}

/* emphasis and edits formatting */

em, i, dfn {
  font-weight: normal;
  font-style: italic;
}

mark {
  background-color: var(--color-primary-blue);
}

strong, b {
  font-family: var(--font-tertiary);
  color: var(--color-primary-purple);
  font-weight: bold;
  font-style: normal;
}

del, s {
  font-family: var(--font-tertiary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: line;
}

ins, u {
  font-family: var(--font-tertiary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: underline;
}

abbr {
  font-family: var(--font-tertiary);
  color: var(--color-primary-purple);
  font-weight: normal;
  font-style: uppercase;
}

dt {
  font-family: var(--font-tertiary);
  color: var(--color-primary-purple);
  font-weight: bold;
  font-style: normal;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

@media only screen and (min-width: 60em) {

  .page-width {
    padding-left: 15em;
    padding-right: 15em;
  }

  .carl {
    width: 500px;
    align-items: center;
    margin-left: 0;
  }

  p {
    font-size: 25px;
  }

  dd {
    font-size: 25px;
  }

  dt {
    font-size: 35px;
  }
}

@media only screen and (min-width: 90em) {

  .carl {
    width: 500px;
    align-items: center;
    margin-left: 300px;
  }
}
