:root {
  --color-primary: #fff;
  --color-secondary: #fdd835;
  --color-secondary-light: #9abda9;
  --color-orange-light: #ffbb4d;
  --color-orange: #fc962e;
  --color-background: rgba(23, 58, 39, .4);
  --background-text: url("../images.texture-text.png");
  --background-image: url("../images/bg-noise.jpg");
  --font-primary: kepler-std-extended, serif;
}

html {
  font-family: var(--font-primary);
  color: #fff;
  background:  linear-gradient( rgba(23, 58, 39, .4), rgba(23, 58, 39, .4)), var(--backgroun-text), var(--background-image);
}

h1, h2 {
  font-family: var(--font-primary);
  font-weight: 900;
  color: var(--color-primary);
}

h3, h4 {
  font-family: var(--font-primary);
  font-weight: 700;
}

h5, h6 {
  font-family: var(--font-primary);
  font-weight: 500;
}

p {
  font-family: var(--font-primary);
  font-weight: 400;
}
cite {
  font-family: var(--font-primary);
  font-weight: 300;
}

mark {
  background-color: var(--color-secondary-light);
}
a {
  color: #fff;
}

b {
  font-family: var(--font-primary);
  font-weight: bold;
}

ol, ul, dl, q, th {
  font-family: var(--font-primary);
  color: var(--color-orange);
}

cite {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

.skip-links a {
  position: absolute;
  top: -10em;
}

.skip-links a:focus {
  top: 0;
}

a:focus {
  outline: 3px solid var(--color-neutral);
}
