:root {
  --color-primary:#FF977E;
  --color-secondary: #FFC748;
  --color-secondary-light:#FFE3A3;
  --color-neutral:#ACACAC;
  --color-dark: #000;

  --font-primary: font-family: 'Muli', sans-serif;
}

html {
  font-family: var(--font-primary);
}
