.social {
  font-weight: 600;
}

.contentinfo {
  background-color: #000;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -30.5em 0em;
}

.contentinfo li {
  color: #fff;
}

.footer:hover {
  color: #fff;
  font-weight: 600;
  background-image: url("/images/icons_brush.svg");
  background-repeat: no-repeat;
  background-size: 100% .75em;
  min-width: 8em;
  background-position: center;
}

.copyright li {
  color: var(--color-secondary-light);
}

.social li {
  display: block;
}


@media only screen and (min-width: 38em) {

  .social {
    text-align:center;
  }

  .contentinfo {
    background-position: -27em 7em;
  }

}

@media only screen and (min-width: 60em) {

  .contentinfo {
    background-position: -40em 14em;
  }

}
