.action-card {
  border: 3;
  border-radius: .3em;
  border-color: #fff;
  background-color: #fff;
  position: relative;
  transform: rotate(-3deg)
}

.action-card-content {
  border-radius: .3em;
  z-index: 2;
  background-color: #fff;
}

.action-card::after {
  content: " ";
  transform: skew(-5deg);
  position: absolute;
  left: 5%;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: -1em 1em 0.4em rgba(0,0,0,0.4);
  background-color: transparent;
}

article {
  background-color: #fff;
}
.text {
  color: #000;
}

.polaroid-text {
  color: #000;
  font-family: var(--font-sharpie);
  font-weight: 700;
  font-style: normal;
}

menu {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sticky {
  background-color: var(--color-orange-light);
  filter: drop-shadow(0 .1em .1em #000);
  color: #000;
  min-height: 200px;
  max-height: 500px;
}

.sticky-note {
  display: block;
  position: relative;
  transform: rotate(-3deg)
}

.sticky-note-content {
  border-radius: .3em;
  z-index: 2;
  color: #000;
}

.sharpie {
  font-family: var(--font-sharpie);
}

.sticky-note::after {
  content: " ";
  transform: skew(-5deg);
  position: absolute;
  left: 5%;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: -1em 1em 0.4em rgba(0,0,0,0.4);
  background-color: transparent;
  z-index: -2;
}

.rip {
  position: relative;
}

.container-content {
  height: auto;
  overflow: hidden;
  padding: 20px;
  background: $main-color;
  box-shadow: 0 3px 5px rgba(0,0,0,0.05);

  &:before, &:after {
    content: ""; height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
  }
  &:before {
    background-color: $bg-color;
    top: 0;
  }
  &:after {
    background-color: $main-color;
    bottom: -2px;
  }
}
