.action-card {
  border: 3;
  border-radius: .3em;
  border-color: #fff;
  background-color: #fff;
  position: relative;
  transform: rotate(-3deg)
}

.action-card-content {
  border-radius: .3em;
  z-index: 2;
  background-color: #fff;
}

.action-card::after {
  content: " ";
  transform: skew(-5deg);
  position: absolute;
  left: 5%;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: -1em 1em 0.4em rgba(0,0,0,0.4);
  background-color: transparent;
}

article {
  background-color: #fff;
}
.text {
  color: #000;
}

.polaroid-text {
  color: #000;
  font-family: var(--font-sharpie);
  font-weight: 700;
  font-style: normal;
}

menu {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sticky {
  background-color: var(--color-orange-light);
  filter: drop-shadow(0 .1em .1em #000);
  color: #000;
  min-height: 200px;
  max-height: 500px;
}

.sticky-size {
  min-height: 102%;
}

.sticky-note {
  display: block;
  position: relative;
  transform: rotate(-3deg)
}

.sticky-note-content {
  position: absolute;
  border-radius: .3em;
  z-index: 10;
  color: #000;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.sharpie {
  font-family: var(--font-sharpie);
}

.sticky-note::after {
  content: " ";
  transform: skew(-5deg);
  position: absolute;
  left: 5%;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: -1em 1em 0.4em rgba(0,0,0,0.4);
  background-color: transparent;
  z-index: -2;
}
