.action-card {
  border: 3;
  border-radius: .3em;
  border-color: var(--color-primary);
  overflow: hidden;
  box-shadow: 2em .3em .4em var(--color-neutral);
  background-color: #fff;
}

.vignette {
	-webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.4);
	-moz-box-shadow:    inset 0px 0px 85px rgba(0,0,0,0.4);
	box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.4);

	line-height: 0;         /* ensure no space between bottom */

	display: inline-block;  /* don't go wider than image */
}
.vignette img {
	position: relative;
	z-index: -1;            /* position beneath */
}

.action-card:hover {
  box-shadow: 0 .1em .4em var(--color-dark-red);
}

.action-tools-top {
  background-color: rgba(0, 0, 0, .2);
  filter: drop-shadow(0 .1em .1em #000);
  color: #fff;
}

.action-tools-top {
  background-color: #fff;
  filter: none;
  box-shadow: 0 .1em .3em #000;
  color: #555;
}

article {
  background-color: #fff;

}
menu {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.rightside {
  padding-right: .75em;
  padding-bottom: .75em;
}

.leftside {
  padding-left: 1.3rem;
  padding-bottom: 1rem;
}

/* .max-height {
  max-height: 500px;
} */
