.btn-blue {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-purple);
  font-family: var(--font-secondary);
  border: 0px solid transparent;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  display: block;
}

.btn-purple {
  background-color: var(--color-primary-purple);
  color: var(--color-primary-blue);
  font-family: var(--font-secondary);
  border: 0px solid transparent;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  display: block;
  width: 180px;
}

.btn-blue:hover {
  background-color: var(--color-secondary-light-blue);
  color: var(--color-secondary-light-purple);
}

.btn-purple:hover {
  background-color: var(--color-secondary-light-purple);
  color: var(--color-secondary-light-blue);
}


.btn-ghost {
  background-color: transparent;
  border: solid 3px var(--color-primary-blue);
  color: var(--color-primary-blue);
}

.btn-ghost:hover {
  background-color: var(--color-secondary-light-blue);
  border: solid 3px var(--color-secondary-light-blue);
  color: var(--color-primary-purple);
}


.btn-wide {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-purple);
  border: solid 3px var(--color-primary-blue);
}

.btn-wide:hover {
  background-color: var(--color-secondary-light-blue);
  border: solid 3px var(--color-secondary-light-blue);
  color: var(--color-primary-purple);
}
