.btn {
  color: var(--color-neutral);
  background-color: #fff;
  border: none;
}

.btn:hover,
.current {
  font-weight: bold;
  border: 0 solid var(--color-secondary);
  border-width: 0px 0px 3px 0px;
  background-color: #fff;
  color: var(--color-neutral);
  border-radius: 0px;
}

.btn-next:hover {
  color: var(--color-primary);
  border: none;
}

.btn-back-home {
  color: var(--color-primary);
  border: 0 solid var(--color-primary);
  border-width: 3px;
  border-radius: 3px;
}

.btn-back-home:hover {
  color: var(--color-secondary-dark);
  border: 0 solid var(--color-secondary-dark);
  border-width: 3px;
  border-radius: 3px;
}
