.btn {
  background-color: var(--color-primary-yellow);
  border-radius: 0;
  color: white;
  border-color: transparent;
}

.btn-hamburger {
  background-color: var(--color-primary-yellow);
  color: white;
  border-radius: 0;
  border-color: transparent;
}

.btn-hamburger:hover {
  background-color: var(--color-primary-purple);
  color: white;
  border-radius: 0;
  border-color: transparent;
}

.btn-x {
  background-color: var(--color-primary-orange);
  color: white;
  border-radius: 0;
  border-color: transparent;
}

.btn-x:hover {
  background-color: var(--color-primary-red);
  color: white;
  border-radius: 0;
  border-color: transparent;
}

.btn-submit {
  background-color: var(--color-primary-yellow);
  color: white;
  border-radius: 0;
  border-color: transparent;
}

.btn-submit:hover {
  background-color: var(--color-primary-purple);
  color: white;
  border-radius: 0;
  border-color: transparent;
}

.btn-github {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-purple);
  border-radius: 0;
}

.btn-github:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-pink);
  border-radius: 0;
}

.btn-behance {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-pink);
  border-radius: 0;
}

.btn-behance:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-red);
  border-radius: 0;
}

.btn-instagram {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-red);
  border-radius: 0;
}

.btn-instagram:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-orange);
  border-radius: 0;
}
