<header class="horizontal-nav banner" role="banner">
  <nav class="navigation"  id="nav" role="navigation" id="nav" tabindex="0">
    <ul class="grid list-group push-0 gutter-1-2 text-center">
      <li class="unit unit-xs-1-2 s-1-2 m-1-4 l-1-4 xl-1-4 bold milli {% if page.highlight_nav == 'index' %}current{% endif %}">
        <a class="link-box island-1-4 nav" href="/index/">
          <i class="icon i-24">
            <img src="/images/logo.svg" alt="logo">
          </i>
        </a>
      </li>
      <li class="unit unit-xs-1-2 s-1-2 m-1-4 l-1-4 xl-1-4 bold milli {% if page.highlight_nav == 'how' %}current{% endif %}"><a class="link-box island-1-4 nav" href="#about">About</a></li>
      <li class="unit unit-xs-1-2 s-1-2 m-1-4 l-1-4 xl-1-4 bold milli {% if page.highlight_nav == 'products' %}current{% endif %}"><a class="link-box island-1-4 nav" href="#work">Work</a></li>
      <li class="unit unit-xs-1-2 s-1-2 m-1-4 l-1-4 xl-1-4 bold milli {% if page.highlight_nav == 'checkout' %}current{% endif %}"><a class="link-box island-1-4 nav" href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
