.horizontal-nav ul li {
  padding: 0, 2em;
}

.nav:hover {
  color: #fff;
  background-image: url("/images/icons_brush.svg");
  background-repeat: no-repeat;
  background-size: 100% 2em;
  min-width: 8em;
  background-position: center;
}

.horizontal-nav {
  background-color: var(--color-header);
}

.current {
  background-color: var(--color-primary);
}

.current a {
  color: #fff;
  font-weight: bold;
}
