.horizontal-nav ul li {
  padding: 0, 2em;
}

.nav:hover {
  color: #fff;
  background-image: url("/images/icons_brush.svg");
  background-repeat: no-repeat;
  background-size: 100% 1em;
  min-width: 6em;
  background-position: center;
}

.horizontal-nav {
  background-color: var(--color-header);
}

.current {
  background-color: var(--color-primary);
}

.current a {
  color: #fff;
  font-weight: bold;
}

.logo a {
  border-style: solid;
  border-width: 1px;
  border-color: #fffff1;
  display: inline-block;
}

.logo {
  font-size: 1rem;
}

.logo:hover  {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

@media only screen and (min-width: 25em) {

  .logo {
    font-size: 1.0309rem;
  }

}
