.left {
  padding-right: .5em;
}

.right {
  padding-left: .5em;
}

.section-color {
  color: var(--color-primary);
}

.brush {
  color: #fff;
  display: block;

  }

.brush h2 {
  padding-left: 2em;
  display: inline-block;
  background-image: url("/images/icons_brush.svg");
  background-repeat: no-repeat;
  background-size: 100% 2em;
  min-width: 8em;
}

.container {
  background-color: #fff;
  box-shadow: 0em 0em 0.4em 5px rgba(0,0,0,0.4);
}

.project-content {
  color: #000;
}
