.left {
  padding-right: .5em;
}

.right {
  padding-left: .5em;
}

.supplement {
  border: solid 1px var(--color-secondary-light);
}

.suggestions p {
  color: #fff;
}

.supplement {
  background-color: var(--color-card);
  box-shadow: 5px 10px var(--color-sidebar);
}

.supplement:hover {
  background-color: #2e2e2e;
  top: 2px;
  border: solid 4px var(--color-secondary-light);
}

.suggestions p:hover {
  font-style: normal;
}

.section-color {
  color: var(--color-primary);
}
