.hover-box {
  color: #000;
}

.hover-box-caption {
  bottom: -4em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  opacity: 0.3;
  filter: alpha(opacity=50);
  transform: scale(1.1);
}

.hover-box:focus {
  z-index: 10;
}
