
/* .image {
  overflow: hidden;
} */

.image img {
  /* transition: transform .5s ease-in-out, filter .5s ease-in-out;
  filter: brightness(.6) sepia(1) hue-rotate(-182deg) saturate(2); */
  /* filter: grayscale(.9); */
}

.card a:hover img {
  transform: scale(1.2);
  /* filter: none; */
  transition: transform .5s ease-in-out, filter .5s ease-in-out;
  filter: brightness(.6) sepia(1) hue-rotate(-182deg) saturate(2);
  /* filter: grayscale(0); */
}

.card-text {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.card-text h2 {
  font-weight: 300;
  color: #fff;
  /* background-color: var(--color-accent); */
  display: inline-block;
  border: solid;
}

.filter  {

}

.card:hover {
  filter: none;

}

.card:hover .card-text {
  opacity: 1;
}
