<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.desc}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <meta name="ICBM" content="45.4117, -75.69812">
  <meta name="geo.position" content="45.4117, -75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="http://www.caplibecap.ca">
  <meta property="og:image" content="http://www.caplibecap.ca/images/social.jpg">
  <meta property="og:site_name" content="Cap Libecap Graphic Design">
  <meta property="og:description" content="{{page.desc}}">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@caplibecap">
  <!-- <link rel="stylesheet" href="https://use.typekit.net/fgq6wuf.css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body class="relative">
  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation content</a></li>
    <li><a href="#main">Jump to main content</a></li>
  </ul>

  {% pattern header/header %}
  <main role="main" tabindex="0">
    {{content}}
  </main>
  {% pattern footer/footer %}

</body>
</html>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Cap Libecap Graphic Design",
    "author": {
      "@type": "Person",
      "@id": "#caplibecap"
    },
    "description": "Graphic Designer based in Ottawa, Ontario. Hungry for work",
    "image": "/images/logo.svg",
    "url": "http://caplibecap.ca",
    "keywords": "Graphic Design, Illustration, Ottawa, Canada, Motion, Packaging, Logo Design"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "#caplibecap",
    "name": "Cap Libecap",
    "email": "hello@caplibecap.ca",
    "url": "http://caplibecap.ca"
  }
</script>
