<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Cap Libecap</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700"> -->
  <link rel="stylesheet" href="https://use.typekit.net/pkc3cir.css">
</head>
<body class="relative">
  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation content</a></li>
    <li><a href="#main">Jump to main content</a></li>
  </ul>
  <main role="main" id="main" tabindex="0">
    {% pattern header/header %}
    {{content}}
    {% pattern footer/footer %}
  </main>
</body>
</html>
