<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Cap Libecap Graphic Design · Motion Graphics</title>
  <meta name="description" content="This is a broadcast package exploring lower thirds and transistion sequences">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <meta name="ottawa" content="45.4117, -75.69812">
  <meta name="geo.position" content="45.4117, -75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Cap Libecap Graphic Design · Motion Graphics">
  <meta property="og:url" content="http://www.caplibecap.ca/motion">
  <meta property="og:image" content="http://www.caplibecap.ca/images/social.jpg">
  <meta property="og:site_name" content="Cap Libecap Motion Graphics">
  <meta property="og:description" content="This is a broadcast package exploring lower thirds and transistion sequences">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@caplibecap">
  <link rel="stylesheet" href="https://use.typekit.net/fgq6wuf.css">
</head>
<body class="relative">
  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation content</a></li>
    <li><a href="#main">Jump to main content</a></li>
  </ul>
  <main role="main" id="main" tabindex="0">
    {% pattern header/header %}
    {{content}}
    {% pattern footer/footer %}
  </main>
</body>
</html>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Cap Libecap Motion Graphics",
    "author": {
      "@type": "Person",
      "@id": "#caplibecap"
    },
    "description": "This is a broadcast package exploring lower thirds and transistion sequences",
    "image": "/images/logo.svg",
    "url": "http://caplibecap.ca/motion",
    "keywords": "motion, after effects, broadcast package"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "#caplibecap",
    "name": "Cap Libecap",
    "email": "hello@caplibecap.ca",
    "url": "http://caplibecap.ca"
  }
</script>
