---
layout: default
---

<div>
  <div>
    <h2 class="cursive">{{include.design-title}}</h2>
    <h3 class="font-tertiary">{{include.client}}</h3>
    <p class="milli">{{include.date}}</p>
  </div>

  <div>
    <p>{{include.intro}}</p>
    <img class="img-flex" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
  </div>

  <div class="gird">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
      <dl>
        <dt>Client</dt>
        <dd>{{include.client}}</dd>
        <dt>brief</dt>
        <dd>{{include.brief}}</dd>
        <dt>Role</dt>
        <dd>{{include.role}}</dd>
      </dl>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
      <dl>
        <dt>Objective</dt>
        <dd>{{include.objective}}</dd>
      </dl>
    </div>
  </div>

  <h3 class="font-tertiary">Background</h3>
  <p>{{include.background}}</p>

  <h3 class="font-tertiary">Homework</h3>
  <p>{{include.homework}}</p>
  <div class="grid">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-4 xl-1-4" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-4 xl-1-4" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-4 xl-1-4" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-4 xl-1-4" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
  </div>

  <h3 class="font-tertiary">Draft Sketches</h3>
  <img class="img-flex" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
  <div class="grid">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-4 xl-1-4" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-4 xl-1-4" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-4 xl-1-4" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-4 xl-1-4" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
  </div>
  <h3 class="font-tertiary">Refinement</h3>
  <p>{{include.refinements}}</p>
  <div class="grid">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-2 xl-1-2" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-2 xl-1-2" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
  </div>

  <h3 class="font-tertiary">Final design</h3>
  <p>{{include.final}}</p>
  <img class="img-flex" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">

  <h3 class="font-tertiary">Mockups</h3>
  <div class="grid">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-2 xl-1-2" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
    <img class="img-flex unit xs-1 s-1 m-1-2 l-1-2 xl-1-2" src="/images/case-study/{{include.image}}" alt="{{include.image-description}}">
  </div>
</div>
