<div class="container">
  <div class="relative lost-banner" style="background-image: url('{{include.banner_img}}')">
    <!-- <header class="horizontal-nav banner" role="banner">
      <nav class="navigation"  id="nav" role="navigation" id="nav" tabindex="0">
        <div class="grid grid-middle gutter pad-t-1-2 pad-b-1-8">
          <div class="logo unit unit-xs-1 s-1 m-1-3 l-1-2 xl-1-2 push-0 gutter-1-2 {% if page.highlight_nav == 'index' %}current{% endif %}">
              <a class="bold milli logo text-center link-box gutter-1-4" href="/index/">Cap Libecap</a>
          </div>
          <ul class="menu list-group-inline push-0 gutter-1-2 unit unit-xs-1 s-1 m-2-3 l-1-2 xl-1-2">
            <li class="bold milli {% if page.highlight_nav == 'work' %}current{% endif %}"><a class="link-box island-1-4 nav gutter-1-2" href="/#work">Work</a></li>
            <li class="bold milli {% if page.highlight_nav == 'work' %}current{% endif %}"><a class="link-box island-1-4 nav gutter-1-2" href="/about/">About</a></li>
            <li class=" bold milli {% if page.highlight_nav == 'contact' %}current{% endif %}"><a class="link-box island-1-4 nav gutter-1-2" href="/#contact">Contact</a></li>
        </ul>
        </div>
      </nav>
    </header> -->
    <div class="banner-title absolute">
      <!-- <div class="main-title text-center wrapper">
        <h1 class="title push-1-2">{{include.heading}}</h1>
        <p class="subhead">{{include.text}}<span style="margin-right: -.25em">.</span></p>
      </div> -->
      <div class="wrapper lost-position">
        <div class="grid grid-stretch">
          <div class="unit unit-content-distribute unit-xs-1 s-1 m-1 l-1-2 island-1-2">
            <h1 class="lost-title push-0 first-name">404</h1>
            <p class="lost-title last-name-part1 push-0 pad-t-1-2">page</p>
            <p class="lost-title last-name-part2 push-0 pad-t-1-2">not found</p>
          </div>
          <div class="unit-content-center-vertical unit-xs-1 s-1 m-1 l-1-2 body-color island-1-2">
            <div class="grid grid-stretch">
              <div class="unit-content-center-vertical unit-xs-1 s-1 m-1 l-1 island-1-2">
            <p class="push-1-2 exa">I ripped it to <em>shredz!</em></p>
            <p class="push-1-2 giga">Click on one of the links above before I get to them.</p>
            <p class="push-0 giga">Hurry hooman, <span class="peta"><em>hurry!!</em></span></p>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>
