.hero-banner {
  color: #fff;
  height: 100vh;
}

.hero-banner picture {
  opacity: .8;
  height: 100vh;
}

.banner-title {
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 80%;
}

.main-title {
  text-align: right;
}

.title-text {
  font-size: 4em;
  height: 100vh;
}
