.container {
  height: 100vh;
}

.img-banner {
  color: #fff;
  height: 100vh;
  /* background-image: url("../images/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll; */
}

.main-banner {
  color: #fff;
  height: 100vh;
  background-image: url("../images/home-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.image-title {
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 80%;
  top: 25%;
}

.logo-test {
  width: 20%;
  display: inline-block;
}

.hero-banner {
  color: var(--color-secondary);
  height: 70vh;
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left bottom;
}

.banner-title {
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 80%;
  /*background: var(--background-text) center center / 300px auto no-repeat;*/
}
/* .banner-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
} */
.hero-title {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 21%;
}

.main-title {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
}

.title {
  display: inline-block;
  font-size: 1.97rem;
  color: var(--color-secondary-light);
}

.subhead {
  font-weight: 300;
  font-size: 1.4238rem;
  color: var(--color-orange);
}

.logo, .menu {
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .title {
    font-size: 4.9718rem;
  }

  .subhead {
    font-size: 2.4238rem;
  }

  .logo {
    text-align: left;
  }

  .menu {
    text-align: right;
  }

}
