<div class="unit unit-xs-hidden unit-s-hidden m-1-2 l-1-2 text-right gutter-2">
  <h3 class="darkest">Project</h3>
  <ul>
    <li class="{% if page.highlight_nav == 'laundromate' %}current{% endif %} push-1-2"><a class="orange hover giga" href="/laundromate/">LaundroMate</a></li>
    <li class="{% if page.highlight_nav == 'jolie' %}current{% endif %} push-1-2"><a class="red hover giga" href="/tasty-treats/">Tasty Treats</a></li>
    <li class="{% if page.highlight_nav == 'saja' %}current{% endif %} push-1-2"><a class="pink hover giga" href="/honey-comb/">Honey Comb</a></li>
    <li class="{% if page.highlight_nav == 'bus' %}current{% endif %} push-1-2"><a class="purple hover giga" href="/bus-passes/">Bus Passes 2021</a></li>
  </ul>
</div>

<div class="unit xs-1 s-1 unit-m-hidden unit-l-hidden text-left gutter-2">
  <h3 class="darkest nina">Project</h3>
  <ul>
    <li class="{% if page.highlight_nav == 'laundromate' %}current{% endif %} push-1-2"><a class="orange hover giga" href="/laundromate/">LaundroMate</a></li>
    <li class="{% if page.highlight_nav == 'jolie' %}current{% endif %} push-1-2"><a class="red hover giga" href="/tasty-treats/">Tasty Treats</a></li>
    <li class="{% if page.highlight_nav == 'saja' %}current{% endif %} push-1-2"><a class="pink hover giga" href="/honey-comb/">Honey Comb</a></li>
    <li class="{% if page.highlight_nav == 'bus' %}current{% endif %} push-1-2"><a class="purple hover giga" href="/bus-passes/">Bus Passes 2021</a></li>
  </ul>
</div>
