<header class="banne grid">
  <nav role="navigation" id="navigation" tabindex="0" class="unit s-1 m-1 l-1 text-center">
    <ul class="nav list-group">
      <li class="{% if page.highlight_nav =='index' %}current{% endif %}"><a class="island" href="/index.html">About</a></li>

      <li class="{% if page.highlight_nav =='about' %}current{% endif %}"><a class="island" href="#">Project</a></li>

        <li class="logo island-1-2 {% if page.highlight_nav =='cart' %}current{% endif %}"><a href="#"><i class="icon i-256"> <img src="/images/logo-purple.svg"></i></a></li>

      <li class="{% if page.highlight_nav =='learn' %}current{% endif %}"><a class="island" href="#">Services</a></li>

      <li class="{% if page.highlight_nav =='blog' %}current{% endif %}"><a class="island" href="#">Contact</a></li>
    </ul>
  </nav>
</header>
