.process-banner {
  font-weight: bold;
  border: 0 solid var(--color-secondary);
  border-width: 3px 0px 3px 0px;
  background-color: #fff;
  color: var(--color-neutral);
  border-radius: 0px;
  margin-bottom: 5em;
}

@media only screen and (min-width:38em) {

  .name-banner {
    font-size: 41px;
  }

}

@media only screen and (min-width:46em) {

  .name-banner {
    font-size: 55px;
  }

}
